/* index.html */

ons-card {
  cursor: pointer;
  color: #333;
}

.card__title,
.card--material__title {
  font-size: 20px;
}


.height {
  padding: 15% 0em 5%;
}

.intro {
  text-align: center;
  padding: 0 20px;
  margin-top: 40px;
}

#numResults {
  height: 28px;
}

#Tab2 {
  text-align: center;
}

#Tab3 {
  text-align: center;

}

/* Recipe Search Results */

img {
  float: left;
  margin-right: 3px;
}

.recipeDiv {
  border: 1px solid #555555;
  font-size: 16px;
  height: auto;
  line-height: 20px;
  margin: 0px 15px 5px 15px;
  min-height: 60px;
  padding: 3px;
  text-align: left;  
  width: auto;
}

.recipeDiv:hover {
  background: lightgray;
}

.recipeDiv:active {
  background: lightblue;
  border: 1px solid blue;
}

/* Recipe Detail View */

button {
  border: 1px solid #cfcfcf;
  float: right;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin: 5px;
  margin-top: -1px;
  padding: 5px;
}

.makeThisRecipe {
  border: 1px solid #cfcfcf;
  float: right;
  font-size: 14px;
  height: auto;
  line-height: 14px;
  margin: 5px;
  padding: 5px;
}

.makeThisRecipe:active {
  color: blue;
}

.nutritionDiv {
  background: white;
  border: 1px solid black;
  font-size: 12px;
  padding: 2px;
}

.recipeDetail {
  padding: 20px;
  text-align: left;
}

.recipeDetailImg {
   clear: both;
   margin-left: auto;
   margin-right: auto;
}

#source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Grocery List */

span {
  float: left;
  max-width: 75%;
}

.center {
  padding-left: 10px;
}

.expandable-content {
  border-top: 2px rgb(8, 109, 224) dashed;
  padding-left: 10px;
}

.ingredientList {
  background: #f8f8f8;
  border: 1px solid #cfcfcf;
  border-left: 0px;
  border-right: 0px;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0px 0px 0px;
  padding: 10px;
}

.ingredient {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 15px;
  padding: 10px;
}

.list-item {
  padding: 0px;
}

.list-item--expandable {
  background-image: none;
}

#clearGroceryList {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

/* Support Page */

#plea {
  margin-top: 35px;
  padding: 20px;
}

#qrCode {
  border: 1px solid black;
  margin-bottom: 25px;
}