/**************/
/* index.html */
/**************/

ons-card {
  cursor: pointer;
  color: #333;
}

.card__title,
.card--material__title {
  font-size: 20px;
}


.height {
  padding: 2% 0em;
}

.intro {
  text-align: center;
  padding: 0 20px;
  margin-top: 40px;
}

#numResults {
  background-color: rgba(3,3,3,.09);
  border: none;
  border-left: 1px solid #cfcfcf;
  border-radius: 5.5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
  height: 28px;
  margin-left: -5px;
  margin-top: 10px;
}

#search {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: -5px;
  margin-top: 10px;
}

#Tab2 {
  text-align: center;
}

#Tab3 {
  text-align: center;

}

/*************************/
/* Recipe Search Results */
/*************************/

img {
  float: left;
  margin-right: 3px;
}

.recipeDiv {
  border: 1px solid #555555;
  font-size: 16px;
  height: auto;
  line-height: 20px;
  margin: 0px 15px 5px 15px;
  min-height: 60px;
  padding: 3px;
  text-align: left;  
  width: auto;
}

.recipeDiv:hover {
  background: lightgray;
}

.recipeDiv:active {
  background: lightblue;
  border: 1px solid blue;
}

/**********************/
/* Recipe Detail View */
/**********************/

.checked {
  color: gold;
}

.detail {
  clear: both;
  padding: 5px;
}

.fa fa-star {
  margin: 0px 3px 0px 3px;
  padding: 5px;
 }

.makeThisRecipe {
  border: 1px solid #cfcfcf;
  float: right;
  font-size: 14px;
  height: auto;
  line-height: 14px;
  margin-top: -10px;
  padding: 5px;
}

.makeThisRecipe:active {
  color: blue;
}

.nutritionDiv {
  font-size: 16px;
}

.recipeDetail {
  overflow-y: scroll;
  padding: 20px;
  text-align: left;
}

.recipeDetailImg {
  border: 1px solid #666666;
  clear: both;
  margin: 5px auto 5px auto;
  width: 100%;
}

.recipeDetail h4 {
  clear: both;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.source {
  color: blue;
  font-size: 16px;
  margin-top: -10px;
  text-align: center;
  text-decoration: underline;
}

.title {
  border-bottom: 1px dashed #555555;
}

#detailTitle {
  text-align: center;
}

#source {
  border: 0;
  height: 100%;
  text-align: center;
  width: 100%;
}

/****************/
/* Grocery List */
/****************/

button {
  border: 1px solid #cfcfcf;
  float: left;
  font-size: 14px;
  height: auto;
  line-height: 12px;
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
}

span {
  float: left;
  max-width: 75%;
}

.center {
  padding-left: 10px;
}

.deleteBtn {
  color: rgb(179, 0, 0);
  float: right;
}

.expandable-content {
  border-top: 2px #086DE0 dashed;
  padding-left: 10px;
}

.ingredientList {
  background: #f8f8f8;
  border: 1px solid #cfcfcf;
  border-left: 0px;
  border-right: 0px;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0px 0px 0px;
  padding: 10px;
}

.ingredient {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 15px;
  padding: 10px;
}

.list-item {
  padding: 0px;
}

.list-item--expandable {
  background-image: none;
}

#clearGroceryList {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

#changeDisplayType {
  clear: both;
}

#viewDetails {
  clear: both;
}

/****************/
/* Support Page */
/****************/

#plea {
  font-size: 24px;
  margin: 0;
  padding: 20px;
}

#qrCode {
  border: 1px solid black;
  margin-bottom: 25px;
}

