.ingredientList {
  border: 1px solid #666666;
  margin-top: 3px;
  max-width: 40%;
  padding: 5px;
}

.recipeDiv {
  border: 1px solid #555555;
  font-size: 16px;
  height: auto;
  line-height: 20px;
  margin: 0px 15px 5px 15px;
  min-height: 60px;
  padding: 3px;
  text-align: left;  
  width: auto;
}

.recipeDiv:hover {
  background: lightgray;
}

.recipeDiv:active {
  background: lightblue;
  border: 1px solid blue;
}

img {
  float: left;
  margin-right: 3px;
}

span {
  float: left;
  max-width: 50%;
}

.select {
  background: #lightgreen;
  float: right;
  font-size: 14px;
  height: auto;
  line-height: 14px;
  margin: 0px;
  padding: 23px 3px 23px 3px;
}

.select:active {
  color: blue;
}